@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");*{box-sizing:border-box}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{height:100%;width:100%}#main{height:100vh;width:100%}#main div .intro-block{margin:50px}#main div .intro-block h1 .hi{margin:100px;color:#fff}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Nunito:wght@300;400;600;700&display=swap');



html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    background: #013250;
}

#main {
    height: 100vh;
    width: 100%;
    position: relative;
}

.intro-block {
    position: absolute;
    top: 20%;
    left: 15%;
    color: #fff;
}

.intro-block .hi {
    margin: 2rem 0 4rem 0;
    font-size: 3rem;
    font-weight: 300;
}

.intro-block .info {
    margin: 5rem 0;
    width: 50%;
    letter-spacing: 3   px;
    font-weight: 300;
    font-size: 2.8rem;
}

.intro-block .info span {
    font-weight: 500;
    color: #1483c4;
}

.intro-block .email {
    font-size: 2rem;
    font-weight: 400;
}

.intro-block .email a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 2px solid #1483c4;
}

#about {
    height: 75vh;
    width: 100%;
    position: relative;
}

#about .about-block {
    position: absolute;
    top: 10%;
    left: 20%;
    height: 400px;
    width: 60%;
    font-family: 'Inconsolata', monospace;
}

#about .about-block h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #1483c4;
}

#about .about-block p {
    font-size: 1.5rem;
    margin: 20px 0 0 100px;
    letter-spacing: 1.5;
    line-height: 1.1;
    color: #fff;
}



#skills {
    height: 100vh;
    width: 100%;
    position: relative;
}

#skills .skill-block {
    position: absolute;
    top: 10%;
    left: 17%;
    height: 500px;
    width: 300px;
    color: #fff;
}

#skills .skill-block h1 {
    font-size: 2rem;
    text-align: left;
    margin: 10px 0;
    color: #1483c4;
}

#skills .skill-block .list {
    font-size: 1.4rem;
    text-align: right;
}

#skills .skill-block .list li {
    margin: 15px;
    font-weight: 500;
    font-family: 'Inconsolata', monospace;
}

#skills .image-block {
    position: absolute;
    top: 45%;
    left: 50%;
}

#skills .image-block img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid #1483c4;
}

#projects {
    height: 100vh;
    width: 100%;
    margin-bottom: 50px;
}

#projects .project-grid {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

#projects img {
    height: 100px;
    width: 100px;
}

#projects .project-grid .title {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: #1483c4;
    font-family: 'Inconsolata', monospace;
}

#projects .project-grid .project1 {
    margin: 50px 0 20px;
    height: 25%;
    width: 100%;
}

#projects .project-grid .project1 .imgside {
    height: 100%;
    width: 40%;
    float: left;
}

#projects .project-grid .project1 .imgside img {
    height: 100%;
    width: 100%;
}

#projects .project-grid .project1 .font-block {
    float: right;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .project-grid .project1 .font-block h3 {
    font-size: 1rem;
    color: white;
}


#projects .project-grid .project2 {
    margin: 20px 0;
    height: 25%;
    width: 100%;
}

#projects .project-grid .project2 .imgside {
    height: 100%;
    width: 40%;
    float: right;
}

#projects .project-grid .project2 .imgside img {
    height: 100%;
    width: 100%;
}

#projects .project-grid .project2 .font-block {
    float: left;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .project-grid .project2 .font-block h3 {
    font-size: 1rem;
    color: white;
}



#projects .project-grid .project3 {
    margin: 20px 0;
    height: 25%;
    width: 100%;
}

#projects .project-grid .project3 .imgside {
    height: 100%;
    width: 40%;
    float: left;
}

#projects .project-grid .project3 .imgside img {
    height: 100%;
    width: 100%;
}

#projects .project-grid .project3 .font-block {
    float: right;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .project-grid .project3 .font-block h3 {
    font-size: 1rem;
    color: white;
}


#projects .project-grid .project4 {
    margin: 20px 0;
    height: 25%;
    width: 100%;
    margin-bottom: 50px;
}

#projects .project-grid .project4 .imgside {
    height: 100%;
    width: 40%;
    float: right;
}

#projects .project-grid .project4 .imgside img {
    height: 100%;
    width: 100%;
}

#projects .project-grid .project4 .font-block {
    float: left;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .project-grid .project4 .font-block h3 {
    font-size: 1rem;
    color: white;
}

#contact {
    margin-top: 250px;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #011e31;
}

#contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .container .link-box {
    height: 80px;
    width: 100%;
    color: white;
}

#contact .container .link-box h1 {
    font-size: 1.5rem;
}

#contact .container .link-box .links {
    text-align: center;
}

#contact .container .link-box .links .fab {
    margin: 10px 10px;
    font-size: 1.7rem;
    color: #1483c4;
}
